@use '../../styles/mixin' as *;
@use '../../styles/typography' as *;
@use '../../styles/variables' as *;

.work {
    position: relative;

    &__top {
        color: white;
        padding: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
        border-bottom: 3px grey solid;

        @include tablet {
            padding: 4rem 6rem;
        }

        @include desktop {
            padding: 5rem 12rem;
        }


        &-title {
            font-size: 1.5rem;
            font-family: 'Alpha Echo';

            &::after {
                content: '!';
                color: yellow;
            }

            @include tablet {
                font-size: 3rem;
            }

            @include desktop {
                font-size: 4rem;

            }
        }

        &-img {
            border-radius: 50%;
            width: 15%;

        }
    }
    &__projects {
        padding: 1rem;

        @include tablet {
            padding: 4rem 6rem;
        }

        @include desktop {
            padding: 5rem 12rem;
        }

        &-project {
            border: 1px solid yellow;
            background-color: white;
            border-radius: .625rem;

            &__title {
                background-color: rgb(227, 222, 222);
                padding: .75rem;
                padding-left: 1.5rem;
                font-family: 'Alpha Echo';
                border-radius: .625rem;
            }
            &__photos {
                display: flex;

                &-photo {
                    width: 33%;
                    padding: 1rem;
                }
            }
            &__tools {
                padding: .75rem;
                padding-left: 1.5rem;
            }
        }
    }

}
.work:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
    z-index: -1;
}
