@use '../../styles/mixin' as *;
@use '../../styles/typography' as *;
@use '../../styles/variables' as *;

// Home.scss

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; // Adjust the distance from the top
    right: 0;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
    padding: 8px;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}