@use '../../styles/mixin' as *;
@use '../../styles/typography' as *;
@use '../../styles/variables' as *;


.home{

    &__top{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        &-left{

        }

        &-right{
            display: flex;
            justify-content: space-between;
        }
    }
}

.link{
    text-decoration: none;
    gap: 1rem
}